_build

# Ignore generated parser code
driver/parser.ml
driver/parser.mli
theories/Parser.v

# Remove Coq compiled code
*.vo
*.glob
*.d
.*.aux
*.vio
*.vok
*.vos
.lia.cache
makefile.coq*
*.~undo-tree~
