_build
*.opam

# Ignore generated parser code
**/parser.ml
**/parser.mli
theories/**/Parser.v

# Remove Coq compiled code
*.vo
*.glob
*.d
.*.aux
*.vio
*.vok
*.vos
.lia.cache
CoqMakefile.mk*
!CoqMakefile.mk.local
!CoqMakefile.mk.local-late
*.log
theories/html/

# Editor related
## Emacs
*.~undo-tree~
