# Dune outputs
_build
*.opam

# Generated coq files
theories/**/Parser.v

# Coq compiler outputs
*.vo
*.glob
*.d
.*.aux
*.vio
*.vok
*.vos
.lia.cache
CoqMakefile.mk*
!CoqMakefile.mk.local
!CoqMakefile.mk.local-late
*.log
theories/html/

# Generated coq dependency graph
*.dot
*.svg

# Editor related files
## Emacs
*.~undo-tree~
